In [2]:
import pandas as pd
df=pd.read_csv("/workspaces/python_projects/Project_Boston_housing_prices/Boston House Prices.csv")
df

     Rooms  Distance  Value
0    6.575    4.0900   24.0
1    6.421    4.9671   21.6
2    7.185    4.9671   34.7
3    6.998    6.0622   33.4
4    7.147    6.0622   36.2
..     ...       ...    ...
501  6.593    2.4786   22.4
502  6.120    2.2875   20.6
503  6.976    2.1675   23.9
504  6.794    2.3889   22.0
505  6.030    2.5050   11.9

[506 rows x 3 columns]

In [10]:
df['Rooms'].apply(lambda x:'{:.0f}'.format(x))

0      7
1      6
2      7
3      7
4      7
      ..
501    7
502    6
503    7
504    7
505    6
Name: Rooms, Length: 506, dtype: object